
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(242, 242, 242);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
}

.logo {
  display: flex;
  width: 9%;

  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.navs{
      
      display: flex;
      justify-content:center;
      align-items: center;
      width: 60%;
}
.nav-links {
  margin-left: 80px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  width: 40%;
}

.nav-links button {
  padding: 5px;
  background-color: none;
    background: none;
    border-radius: 20px;
    width: 25%;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.rightfx{
  display: flex;
  width: 40%;
  height: 25px;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
   height: 80%;
}
.rightfx button{
  margin-left: 3%;
  height: 35px;
  border-radius: 20px;
  width: 40%;
  background-color: rgb(182, 176, 159);
}
.rightfx input{
  background-color: rgb(234, 228, 213);
  color: black;
  height: 0.9vw;
  border-radius: 20px;
}